MONGO_URI=mongodb://username:password@host1:27017,host2:27017,host3:27017/?ssl=true&replicaSet=your-replica&authSource=admin&appName=YourApp/database-name
JWT_SECRET=your-secret-key
PORT=5000
NODE_ENV=production
